@model List<StudentCourseManagement.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "Assign";
}

<h2>List of Unassign Courses</h2>

@using (Html.BeginForm("Assign", "Course", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>
        @Html.ActionLink("Add New Courses", "Create")
    </p>
    

    <table class="table">
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Credit
            </th>
            <th></th>
        </tr>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(x => x[i].Id)
                    @Html.CheckBoxFor(x => x[i].IsSelected)
                </td>
                <td>
                    @Html.DisplayFor(x => x[i].Title)
                </td>
                <td>
                    @Html.DisplayFor(x => x[i].Description)
                </td>
                <td>
                    @Html.DisplayFor(x => x[i].Credit)
                </td>
            </tr>
        }
    </table>

    <input type="submit" value="Assign" class="btn btn-default" />
    
}
