@model WebLib.Models.Case

@{
    ViewBag.Title = "Detaljer";
}

<h2>Detaljer for sag</h2>

<div>
    <h4>Sag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstallationId.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallationId.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Worker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MadeRepair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MadeRepair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserComment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Rediger", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tilbage til oversigt over sager", "Index")
</p>
