@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Roller";
}

<h2>Oversigt over roller</h2>

<p>
    @Html.ActionLink("Opret ny rolle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Rediger", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                @Html.ActionLink("Slet", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
