@using Microsoft.AspNet.Identity
@model WebLib.Models.ApplicationUser

<h4>User</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt>
        @Html.LabelFor(model => model.PhoneNumber, "Telefon nummer")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
</dl>

<li>
    @Html.ActionLink("Skift password", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Password" })
</li>
<b>
    Indstillinger for notifikationer
</b>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.EmailNotification)
    </dt>
    <dd>
        @Html.CheckBoxFor(model => model.EmailNotification)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SMSNotification)
    </dt>
    <dd>
        @Html.CheckBoxFor(model => model.SMSNotification)
    </dd>
</dl>

<div class="form-actions no-color">
    <input type="submit" value="Opdater" class="btn" />
</div>
